<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="uk.ac.cam.cl.dtg.android.pem.barcodebox">
	<application android:icon="@drawable/barcodebox"
		android:theme="@android:style/Theme.Light">
		<activity android:label="@string/application_name"
			android:name=".BarcodeBox">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:label="@string/application_name"
			android:name=".BarcodeAdd">
		</activity>
		<activity android:label="@string/application_name"
			android:name=".BarcodeEdit">
		</activity>
		<activity android:label="@string/application_name"
			android:name=".BarcodeDelete">
		</activity>
	</application>
</manifest> 